@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p, li {
    text-align: justify;
}

h3{
    background-color: #ececec;
    padding: 4px;
}

.heading {
    display: inline-block;
    width: 49%;
}

.contact {
    float: right;
    line-height: 10px;
}

.body-experience{
    float: left;
}

.body-project{
    float: right;
}

.design-float-left{
    float: left;
}

.design-float-right{
    float: right;
}