<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume of Md Shakil Ahmed</title>
</head>
<body>
<div>
    <div>
        <h1>Md Shakil Ahmed</h1>
        <p>Software Engineer</p>
    </div>
    <div>
        <p><b>Email:</b><a href="mailto:eng.shakil8838@gmail.com"> eng.shakil8838@gmail.com</a>
            &nbsp; <b>Linkedin:</b><a href="https://linkedin.com/in/shakil8838"> Md Shakil Ahmed</a>
            &nbsp; <b>Phone:</b><a href="tel:+8801718629332">+880 1718 629 332</a></p>
    </div>

    <hr>

    <div>
        <h3>SUMMARY:</h3>
    </div>

    <div>
        <h3><u>EXPERIENCE:</u></h3>
        <ul>
            <b>🏢 Onnorokom Group</b>
            <br>💼 Software Engineer (Full time)
            <br>📆 2022-01-01 to Present
            <ul>
                <li>Designed the Database and App architecture using <i>ERD and UML.</i></li>
                <li>Bringing the design into real life solution using <i>SOLID principle</i>,
                    <i>MVVM & MVC design pattern</i>.
                </li>
            </ul>
            <br><b>🏢 Jackal IT</b>
            <br>💼 Android Apps Developer (Freelancer)
            <br>📆 2021-03-01 to 2021-12-31
            <ul>
                <li>Customized prebuilt apps as per clients' requirements.</li>
                <li>Customized production apps.</li>
            </ul>
            <br><b>🏢 Edublock.co</b>
            <br>💼 Jr. Robotics Mobile Apps Developer (Contractual)
            <br>📆 2019-11-05 to 2020-03-31
            <ul>
                <li>Built bluetooth based offline app for the embedded system robot.</li>
            </ul>
        </ul>
    </div>

    <div>
        <h3><u>SKILLS:</u></h3>
        <ul>
            <p>
                C &nbsp; C++ &nbsp; Android &nbsp; Java &nbsp; Kotlin &nbsp; Python &nbsp; Coroutines &nbsp; MVVM &nbsp;
                Firebase &nbsp; MySQL &nbsp; SQLite &nbsp; Arduino &nbsp; Markdown &nbsp; Git &nbsp;
            </p>
        </ul>
    </div>

    <div>
        <h3><u>EDUCATION:</u></h3>
        <ul>
            <b>🎓 B.Sc in CSE</b>
            <br>🏫 Dhaka International University
            <br>📅 Enrolled
            <br><br>
            <b>🎓 Diploma in Computer Technology</b>
            <br>🏫 Bangladesh Polytechnic Institute
            <br>📆 Passign year: 2017
        </ul>
    </div>

</div>
</body>
</html>