<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../res/styles/calculator-style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="center">
    <table>
        <tr>
            <td colspan="4"><input type="text" class="text_input" placeholder="Input"></td>
        </tr>
        <tr>
            <td><input type="button" value="1"></td>
            <td><input type="button" value="2"></td>
            <td><input type="button" value="3"></td>
            <td><input type="button" value="/"></td>
        </tr>
        <tr>
            <td><input type="button" value="4"></td>
            <td><input type="button" value="5"></td>
            <td><input type="button" value="6"></td>
            <td><input type="button" value="*"></td>
        </tr>
        <tr>
            <td><input type="button" value="7"></td>
            <td><input type="button" value="8"></td>
            <td><input type="button" value="9"></td>
            <td><input type="button" value="-"></td>
        </tr>
        <tr>
            <td><input type="button" value="0"></td>
            <td><input type="button" value="."></td>
            <td><input type="button" value="="></td>
            <td><input type="button" value="+"></td>
        </tr>
    </table>
</div>

</body>
</html>