<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume of Md Shakil Ahmed</title>
    <link href="../res/styles/resume-style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
<div>
    <div class="heading">
        <h1>Md Shakil Ahmed</h1>
        <p>Software Engineer</p>
    </div>
    <div class="heading contact">
        <p><b>Email:</b><a href="mailto:eng.shakil8838@gmail.com"> eng.shakil8838@gmail.com</a></p>
        <p><b>Github:</b><a href="https://github.com/shakil8838"> https://github.com/shakil8838/</a></p>
        <p><b>Linkedin:</b><a href="https://linkedin.com/in/shakil8838"> https://linkedin.com/in/shakil8838/</a></p>
        <p><b>Phone:</b><a href="tel:+8801718629332"> +880 1718 629 332</a></p>
    </div>

    <hr>

    <div>
        <p style="text-align: justify">A motivated individual with in-depth knowledge of languages and development tools
            with a hands-on,
            high-energy approach, and well-developed skills. Have 2+ years of work experience and expertise in
            innovating Android software application design and development, testing, as well as debugging programs and
            troubleshooting, and extensive knowledge of product-oriented designs and data structures.</p>
    </div>

    <div>
        <h3><u>SKILLS:</u></h3>
        <ul>
            <p>
                C &nbsp; C++ &nbsp; <b>Android</b> &nbsp; <b>Java</b> &nbsp; <b>Kotlin</b> &nbsp; Python &nbsp; <b>Coroutines</b>
                &nbsp; <b>MVVM</b> &nbsp;<b>Firebase</b> &nbsp; <b>MySQL</b> &nbsp; <b>SQLite</b> &nbsp; Arduino &nbsp;Markdown
                &nbsp; <b>TDD</b> &nbsp; <b>Git</b>
            </p>
        </ul>
    </div>

    <div class="body-experience">
        <h3><u>EXPERIENCE:</u></h3>
        <ul>
            <b> Onnorokom Group</b>
            <br/> Software Engineer (Full time)
            <br/> 2022-01-01 to Present
            <ul>
                <li>Designed the Database and App architecture using <i>ERD and UML.</i></li>
                <li>Bringing the design into real life solution using <i>SOLID principle</i>,
                    <i>MVVM & MVC design pattern</i>.
                </li>
            </ul>
            <br/><b> Jackal IT</b>
            <br/> Android Apps Developer (Freelancer)
            <br/> 2021-03-01 to 2021-12-31
            <ul>
                <li>Customized prebuilt apps as per clients' requirements.</li>
                <li>Customized production apps.</li>
            </ul>
            <br/><b> Edublock.co</b>
            <br/> Jr. Robotics Mobile Apps Developer (Contractual)
            <br/> 2019-11-05 to 2020-03-31
            <ul>
                <li>Built bluetooth based offline app for the embedded system robot.</li>
            </ul>
        </ul>
    </div>

    <div class="body-project">

    </div>

    <div>
        <h3><u>EDUCATION:</u></h3>
        <ul>
            <b> B.Sc in CSE</b>
            <br/>
            Dhaka International University
            <br/> Enrolled
            <br/><br/>
            <b> Diploma in Computer Technology</b>
            <br/> Bangladesh Polytechnic Institute
            <br/> Passign year: 2017
        </ul>
    </div>

    <div>
        <h3><u>CONFERENCES:</u></h3>
        <ul>
            <li>Keynote Speaker of Spark AR at:</li>
            <ul>
                <li>#TechbyHer (Meta Developer Circle Dhaka)</li>
                <li>Community Challenge Build Days (Meta Developer Circle Dhaka)</li>
            </ul>
        </ul>
    </div>

    <div>
        <h3><u>VOLUNTEERED:</u></h3>
        <ul>Android mentor at Banglalink SDG Hackathon “Code for a Cause” 1.0</ul>
    </div>

</div>
</body>
</html>